# Ignore everything
*

# Allow specific directories
!frontend/*

# Allow specific files
!chat.py
!connect.py
!db.py
!intents.json
!Dockerfile
!heroku.yml
!requirements.txt

# Allow Git configuration and ignore rules
!.gitignore
!.dockerignore