# Ignore everything
*

# Allow specific directories
!frontend/*

# Allow specific files
!chat.py
!connect.py
!database.py
!fuzzer.py
!config.py
!intents.json
!Dockerfile
!heroku.yml
!requirements.txt
!Procfile

# Allow Git configuration and ignore rules
!.gitignore
!.dockerignore